/* popup.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 200px;
}

.container {
    text-align: center;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.from-to-icons-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.from-to-icon {
    width: 15px;
    height: 15px;
}

.from-to-chevron {
    font-weight: bold;
    margin: 0 3px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline #0c2c56;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fancy-button {
    background-color: #0690FF;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 45px;
    width: 130px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0.5em 1em;
    margin-bottom: 10px;
}

.count-wrapper {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

#recordCount {
    color: red;
    margin-right: 10px; 
}

/*  */
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

#recordCount {
    transition: --num 0.3s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
}
#recordCount::after {
    content: counter(num);
}

/* Add more styles as needed */
